{% load static i18n %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>AAP – {% trans "Вхід" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>

<body class="login-body">

<!-- ХЕДЕР — ТОЛЬКО "AAP" СЛЕВА -->


<main class="login-page">
    <div class="login-card-2col">

        <!-- левая панель -->
        <section class="login-left">

            <h2 class="login-title">{% trans "Авторизація" %}</h2>

            <p class="login-subtitle">
                {% trans "Введіть логін і пароль, щоб отримати доступ до системи." %}
            </p>

            <form method="post" class="login-form">
                {% csrf_token %}
            
                <div class="input-group">
                    <span class="input-icon"></span>
                    <input type="text" name="username"
                           placeholder="{% trans 'Логін' %}" required>
                </div>
            
                <div class="input-group">
                    <span class="input-icon"></span>
                    <input type="password" name="password"
                           placeholder="{% trans 'Пароль' %}" required>
                </div>
            
                <div class="extra-row">
                    <label class="remember-box">
                        <input type="checkbox" name="remember_me" id="id_remember_me">
                        <span>{% trans "Запам’ятати мене" %}</span>
                    </label>
            
                    <p style="margin-top: 8px;">
                        <a href="{% url 'password_reset' %}">Забули пароль?</a>
                    </p>
                </div>
            
                <button type="submit" class="login-btn">
                    {% trans "Увійти" %}
                </button>
            </form>
            
        </section>

        <!-- правая синяя панель -->
        <section class="login-right">
            <div class="login-right-content">
                <h2></h2>
                <p></p>
            </div>
        </se
        
       